/* Hero Section */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .navbar{
    z-index: 2;
  }

  .navbar-nav>li{
    font-size: 24px;
    
  }
  
  .nav-item:hover{
    text-decoration: 3px underline #33cc66 ;
  }

   /* Carrusel */
   .carousel-item img {
    height: 90vh;
    object-fit: cover;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  /* Overlay en la imagen del carrusel */
  .carousel-item {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura sobre la imagen */
    z-index: 1;
  }

  /* Informaci칩n encima del carrusel */
  .container-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: white;
    padding: 20px;
  }

  .container-texto h1 {
    font-size: 3rem;
    font-weight: bold;
    
  }

  .text-green {
    color: #33cc66;
  }

  .btn-green {
    background-color: #33cc66;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
  }

  .btn-green:hover {
    background-color: #28a745;
    color: white;
  }

  /* .hero {
    position: relative;
    background: url('https://lamemoriaseconstruyecaminando.wordpress.com/wp-content/uploads/2017/02/dsc4533-editar-5.jpg?w=648')
      center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1;
  } */
  
 /*  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
   */
  /* Adorno de tri치ngulos en el lado izquierdo */
  .decor-left {
    position: relative;
    top: 30%;
    left: 0;
    width: 0;
    height: 0;
    z-index: 4;
  }
  
  /* Tri치ngulo verde */
  .decor-left::before {
    content: '';
    position: absolute;
    left: -80px;
    width: 0;
    height: 0;
    top: -250px;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #33cc66 transparent #e2c41ada transparent; /* Verde */
    transform: rotate(135deg) scale(2);
    z-index: 4;
  }
  
  /* Tri치ngulo amarillo */
  .decor-left::after {
    content: '';
    position: absolute;
    left: -60px;
    top: -290px;
    width: 0;
    height: 0;
    z-index: 3;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #ffd900da transparent transparent transparent; /* Amarillo */
    transform: rotate(135deg) scale(2);
  }
  
 /*  .hero h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero .text-green {
    color: #33cc66;
  }
  
  .btn-green {
    background-color: #33cc66;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn-green:hover {
    background-color: #28a745;
    color: white;
  }
 */
  
  
  /* Nueva Secci칩n */
  .projects {
    position: relative;
  
    justify-content: center;
    background-color: #f8f6f2;
    padding: 40px 0;
    text-align: center;
    z-index: 0;
  }
  
  .gradient-bar {
    width: 100px;
    height: 110px;
    background: linear-gradient(to bottom, #90ee90, #ffff00);
    margin-bottom: 10px;
    z-index: -1;
    left: 100px;
    top: 0px;
    position: absolute;
  }
  
  /* Borde ondulado superior */
  .wave-top {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
  
    background: url('wave-top.svg') repeat-x;
  }
  
  /* Etiqueta "proyectos" */
  .badge-pill {
    display: inline-block;
    background-color: #e5f2d7;
    color: #2d7f3e;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  /* T칤tulos */
  .text-green {
    color: #33cc66;
  }
  
  .text-dark {
    color: #222;
  }
  
  /* Secci칩n de tarjetas azules */
  .blue-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
    
   
  }
  
  .blue-card {
    background-color: #002c5f;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .blue-card:hover{ 
    background-color: rgba(0, 0, 255, 0.699);
    transform: scale(1.2);
    transition: ease-in-out 100ms;
  }
  
  /* Etiqueta "proyectos" */
  .badge-pill {
    display: inline-block;
    background-color: #e5f2d7;
    color: #2d7f3e;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 1;
  }
  
  /* T칤tulos */
  .text-green {
    color: #33cc66;
  }
  
  .text-dark {
    color: #222;
  }
  
  /* Tarjetas personalizadas */
  
  .encabezado {
      text-align: center;
      
  }
  .encabezado h1 {
      font-weight: bold;
  }
  .encabezado span {
      color: #0ead69;
  }
  .badge-custom {
      background: linear-gradient(to right, #ffde59, #ffffff);
      border-radius: 20px;
      padding: 5px 15px;
      display: inline-block;
  }
  
  
  
  
  .card-custom {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .card-custom:hover{
    
    transform: scale(1.1);
    transition: ease-in-out 100ms;
  } 


  
  /* Imagen circular */
  .circle-img {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Bot칩n flotante sobre la imagen */
  .btn-circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33cc66;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
  }

  .btn-green:hover{
    transform: scale(1.1);
    transition: ease-in-out 100ms;
  }
  
  /* Bot칩n estilo p칤ldora */
  .btn-pill {
    display: inline-block;
    background-color: #ffd700;
    color: #222;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Bot칩n principal "More Courses" */
  .btn-green {
    display: inline-block;
    background-color: #33cc66;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* /* Decoraci칩n en el lado derecho */
  /* .decor-right {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 80px;
    height: 150px;
    background: linear-gradient(to bottom, #ffd700, #33cc66);
    clip-path: polygon(100% 0, 0 100%, 100% 100%); }*/
  
  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adapta autom치ticamente */
        gap: 10px;
        padding: 2px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .grid-item:hover{
      transform: scale(1.05);
      transition: ease-in-out 100ms;
    }
    
    .grid-item {
        position: relative;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        height: 180px;
        border-radius: 5px;
    }
    
    /* Estilos para el grid-item grande */
    .grid-item.large {
        grid-column: span 2;
        grid-row: span 2;
        height: 380px;
    }
    
    /* Overlay oscuro */
    .grid-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .grid-item h3,
    .grid-item p {
        position: relative;
        z-index: 2;
    }
    
    /* Bot칩n */
    .btn-custom {
        background-color: #ffcc00;
        color: #000;
        border-radius: 20px;
        padding: 5px 15px;
        font-weight: bold;
    }


    .moveimg {
      width: 160px;
      height: 100px;
      animation: scroll 60s linear infinite;
    }
    
    .slide-track {
      width: 100%;
      display: flex;
      gap: 4em;
      overflow: hidden;
    }
    
    .slider {
      margin-top: 70px;
      background-color: whitesmoke;
      padding: 8em 2em;
    }
    
    @keyframes scroll {
      0% {transform: translateX(0);}
      100% {transform: translatex(-1000%)}
    }

    .footer {
      background-color: #0B2447;
      padding: 40px 0;
  }

  .footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.subscribe-input {
    max-width: 400px;
    margin: auto;
}
.social-icons a {
    margin: 0 5px;
    font-size: 24px;
    color: white;
}
.social-icons a:hover {
    color: #00A8E8;
}
.footer img {
    max-width: 100%;
    border-radius: 10px;
}

.imagen-foot:hover{
    transform: scale(1.05);
      transition: ease-in-out 100ms;
}
    
/* 游댳 RESPONSIVE DESIGN */



@media (min-width: 1000px) {

   .overlay {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    
  }

  .logo{
    width: 100%;
  }
 
    
    
}


/* 游늷 Pantallas medianas (menos de 900px) */
@media (max-width: 1000px) {

  

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Pasa a 2 columnas */
    }
    .grid-item.large {
        grid-column: span 1; /* Ocupa solo 1 columna */
        grid-row: span 1;
        height: 300px;
    }

    .logo{
     
      width: 90%;
    }
    
}

@media screen and (min-width: 990px) { 

  


  .projects {
    display: flex;
  }
  
  .info {
    width: 45%;
  }
  
  .blue-cards {
    width: 50%;
  }
  
  .blue-card {
    padding: 0 60px;
  }

 /*  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

 
  
}


  @media screen and (max-width: 990px) {
    .overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 115%;
    }
 
    }
  


  /* 游늷 Pantallas peque침as (menos de 600px) */
@media (max-width: 600px) {

  .logo{
    
    width: 100%;
  }

    .grid-container {
        grid-template-columns: 1fr; /* Solo una columna */
    }
    .grid-item.large {
        height: 250px;
    }

     /* Adorno de tri치ngulos en el lado izquierdo */
  .decor-left {
    position: absolute;
    top: 30%;
    left: 0;
    width: 0;
    height: 0;
  }

  .overlay {
    top: 180px;
    left: 0;
    width: 100%;
    height: 90%;
    
  }
  
  /* Tri치ngulo verde */
  .decor-left::before {
    content: '';
    position: absolute;
    left: -80px;
    width: 0;
    height: 0;
    top: 260px;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #33cc6656 transparent #e2c41ada transparent; /* Verde */
    transform: rotate(135deg) scale(2);
  }
  
  /* Tri치ngulo amarillo */
  .decor-left::after {
    content: '';
    position: absolute;
    left: -60px;
    top: 220px;
    width: 0;
    height: 0;
  
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #ffd90059 transparent transparent transparent; /* Amarillo */
    transform: rotate(135deg) scale(2);
  }

  .navbar-brand{
    width: 100%;
    margin: auto;
  }

  .container-texto{
    width: 100%;
    font-size: 16px;
    
  }

  .container-texto h1{
    font-size: 33px;
  }

  .container-texto .text-green{
    width: 80%;
    font-size: 33px;
    
  }


  }


  @media (max-width: 470px){ 
    .container-texto{
      font-size: 18px;
    }

    .container-texto h1{
      font-size: 14px;
    }

    .text-green{
      font-size: 12px;
    }

    .container-texto p {
      font-size: 10px;
      
    }
    .container-texto a{
        
        width: 100%;
        font-size: 12px;
    }

  }



  /* 游늷 Pantallas mas peque침as (menos de 270px) */
@media (max-width: 270px) {
    
  .logo{
    width: 110%;
  }

  

  .gradient-bar {
   visibility: collapse;
  }
  
  .container-texto{
      width: 100%;
      font-size: 16px;
      
    }

    .container-texto h1{
      font-size: 33px;
    }

    .container-texto .text-green{
      width: 80%;
      font-size: 22px;
    }

    .overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      
    }

}
  
